# Environment setting

In [1]:
# move to root directory
%cd ../
%pwd

/home/yh/git/kaggle_ieee-fraud-detection

'/home/yh/git/kaggle_ieee-fraud-detection'

In [2]:
# import major modules
import pandas as pd
import numpy as np
import sys
from pathlib import Path
import seaborn as sns
import matplotlib.pyplot as plt
sys.stdout.flush()
from util.easydict import EasyDict
import json
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Read data

In [3]:
sub_paths = ['data/submission/submission_0013.csv',
            'data/submission/submission_0014.csv',
            'data/submission/submission_0015.csv']
subs = []
for p in sub_paths:
    df = pd.read_csv(p)
    subs.append(df)
    p, df.shape
    df.head(3)

('data/submission/submission_0013.csv', (506691, 2))

   TransactionID   isFraud
0        3663549  0.000204
1        3663550  0.000331
2        3663551  0.000792

('data/submission/submission_0014.csv', (506691, 2))

   TransactionID   isFraud
0        3663549  0.002362
1        3663550 -0.005392
2        3663551  0.004236

('data/submission/submission_0015.csv', (506691, 2))

   TransactionID   isFraud
0        3663549  0.000291
1        3663550  0.009866
2        3663551  0.001869

# Process

In [4]:
# merge subs into single dataframe
sub = pd.DataFrame(columns = ['TransactionID', 'isFraud'])
sub.TransactionID = subs[0].TransactionID
sub = pd.merge(sub, subs[0], on='TransactionID', how='left', validate='1:1', suffixes=('', '_0013'))
sub = pd.merge(sub, subs[1], on='TransactionID', how='left', validate='1:1', suffixes=('', '_0014'))
sub = pd.merge(sub, subs[2], on='TransactionID', how='left', validate='1:1', suffixes=('', '_0015'))
sub.head()

   TransactionID isFraud  isFraud_0013  isFraud_0014  isFraud_0015
0        3663549     NaN      0.000204      0.002362      0.000291
1        3663550     NaN      0.000331     -0.005392      0.009866
2        3663551     NaN      0.000792      0.004236      0.001869
3        3663552     NaN      0.000689      0.003337      0.001717
4        3663553     NaN      0.002095      0.025012      0.005853

In [5]:
sub.isFraud = sub.isFraud_0013*0.333 + sub.isFraud_0014*0.333 + sub.isFraud_0015*0.334
sub.head()

   TransactionID   isFraud  isFraud_0013  isFraud_0014  isFraud_0015
0        3663549  0.000952      0.000204      0.002362      0.000291
1        3663550  0.001610      0.000331     -0.005392      0.009866
2        3663551  0.002299      0.000792      0.004236      0.001869
3        3663552  0.001914      0.000689      0.003337      0.001717
4        3663553  0.010981      0.002095      0.025012      0.005853

In [6]:
sub[['TransactionID', 'isFraud']].to_csv('data/submission/submission_0016.csv', index=False)