In [1]:
# move to source directory
%pwd
%cd ../src
%pwd
%ls

# Notebook setting
import sys
sys.stdout.flush()

/home/yh/git/02-ieee-fraud-detection/src
__init__.py*    feature_base.py*      models/              trainer_factory.py*
__pycache__/    feature_factory.py*   mylog.py*            transformer.py*
config/         features/             reduce_mem_usage.py  utils/
configure.py*   main.py*              storage.py           visualization/
experiment.py*  modelapi_factory.py*  tests/

In [2]:
# major modules
import pandas as pd
import numpy as np
import sys
sys.stdout.flush()

In [3]:
import pathlib
from configure import Config
c = Config()
c.set_parameter(config_dir=pathlib.Path('config'), config_name='config_0001', use_option=False)
c.runtime.VERSION = '0001'
print(str(c.runtime.VERSION))

0001

In [4]:
train = pd.read_pickle('/home/yh/git/02-ieee-fraud-detection/data/processed/features_train.pkl')
test = pd.read_pickle('/home/yh/git/02-ieee-fraud-detection/data/processed/features_test.pkl')
#train = pd.read_pickle('/home/yh/git/02-ieee-fraud-detection/data/processed/raw_train.pkl')
#test = pd.read_pickle('/home/yh/git/02-ieee-fraud-detection/data/processed/raw_test.pkl')
#train = pd.read_pickle('/home/yh/git/02-ieee-fraud-detection/data/processed/nroman_train.pkl')
#test = pd.read_pickle('/home/yh/git/02-ieee-fraud-detection/data/processed/nroman_test.pkl')
train = pd.read_pickle('/home/yh/git/02-ieee-fraud-detection/data/processed/features_train.pkl')
test = pd.read_pickle('/home/yh/git/02-ieee-fraud-detection/data/processed/features_test.pkl')

In [5]:
test.shape
train.head()

,TransactionDT,TransactionID,isFraud,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,card2__dist1,card1__card5,card2__id_20,card5__P_emaildomain,addr1__card1,id_36_count_full,id_01_count_dist,id_31_count_dist,id_33_count_dist,id_36_count_dist
483,88383,2987111,0,18.187500,0,13832,375.0,185.0,2,224.0,...,1377,615,706,295,4626,2634,773,77,5190,1312
1951,91353,2987313,0,83.937500,4,3682,264.0,150.0,4,226.0,...,775,1646,449,338,4510,8238,4499,4532,5190,4527
5476,91598,2987325,0,355.000000,4,16326,321.0,150.0,4,226.0,...,1060,1013,570,326,1769,8238,4499,4532,5190,4527
1642,92594,2987380,0,28.640625,0,15885,545.0,185.0,4,138.0,...,2185,939,1178,110,4655,2634,124,140,5190,1312
3010,92858,2987396,0,241.000000,4,6832,134.0,150.0,4,226.0,...,212,2140,120,370,2453,8238,4499,4532,5190,4527

In [6]:
test.shape
test.head()

,TransactionDT,TransactionID,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,D11__DeviceInfo,DeviceInfo__P_emaildomain,P_emaildomain__C2,card2__dist1,card1__card5,card2__id_20,card5__P_emaildomain,addr1__card1,id_36_count_full,id_36_count_dist
2375,18405549,3663651,40.000000,4,15066,170.0,150.0,2,102.0,0,...,78,574,490,348,804,230,20,3527,8238,3711
3083,18406174,3663672,226.000000,4,10486,514.0,150.0,2,219.0,0,...,0,560,138,2077,74,1113,264,1022,8238,3711
4822,18414407,3663881,6.761719,0,11178,459.0,185.0,2,166.0,1,...,862,77,308,1694,188,939,178,4570,2634,1322
3916,18418295,3663952,25.953125,4,12577,268.0,150.0,4,166.0,1,...,256,547,34,808,400,461,171,2616,8238,3711
229,18426660,3664032,107.937500,4,12839,321.0,150.0,4,226.0,1,...,236,574,486,1072,454,570,353,4045,8238,3711

In [7]:
X_train = train.drop(['isFraud', 'TransactionDT', 'TransactionID'], axis=1)
y_train = train[['isFraud']]
X_test = test.drop(['TransactionDT', 'TransactionID'], axis=1)

In [8]:
X_train.shape

(5907, 298)

In [9]:
y_train.shape

(5907, 1)

In [10]:
X_test.shape

(5067, 295)

In [11]:
for col in X_train.columns:
    if col not in X_test.columns:
        print(col)

id_01_count_dist
id_31_count_dist
id_33_count_dist