In [1]:
# move to source directory
%pwd
%cd ../src
%pwd
%ls

# Notebook setting
import sys
sys.stdout.flush()

/home/yh/git/kaggle_ieee-fraud-detection/src
__pycache__/      feature_factory.py*   mylog.py*             transformer.py*
config/           features/             reduce_mem_usage.py*  utils/
configure.py*     main.py*              storage.py*           visualization/
experiment.py*    modelapi_factory.py*  tests/
feature_base.py*  models/               trainer_factory.py*

In [2]:
# major modules
import pandas as pd
import numpy as np
import sys
sys.stdout.flush()

In [3]:
import pathlib
from configure import Config
c = Config()
c.set_parameter(config_dir=pathlib.Path('config'), config_name='config_0001', use_option=False)
c.runtime.VERSION = '0001'
print(str(c.runtime.VERSION))

0001

In [10]:
train = pd.read_pickle('/home/yh/git/kaggle_ieee-fraud-detection/data/processed/raw_train.pkl')
test = pd.read_pickle('/home/yh/git/kaggle_ieee-fraud-detection/data/processed/raw_test.pkl')
#train = pd.read_pickle('/home/yh/git/kaggle_ieee-fraud-detection/data/processed/nroman_train.pkl')
#test = pd.read_pickle('/home/yh/git/kaggle_ieee-fraud-detection/data/processed/nroman_test.pkl')
#train = pd.read_pickle('/home/yh/git/kaggle_ieee-fraud-detection/data/processed/features_train.pkl')
#test = pd.read_pickle('/home/yh/git/kaggle_ieee-fraud-detection/data/processed/features_test.pkl')

In [11]:
test.shape
train.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
470624,3457624,0,12153579,724.0000,W,7826,481.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565820,3552820,0,15005886,108.5000,W,12544,321.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284083,3271083,0,6970178,47.9375,W,9400,111.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239689,3226689,0,5673658,100.6250,C,15885,545.0,185.0,visa,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281855,3268855,0,6886780,107.9375,W,15497,490.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
test.shape
test.head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
38778,3702327,19711167,35.9375,W,2884,490.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174412,3837961,24435579,117.0000,W,9500,321.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294357,3957906,28587195,117.0000,W,11839,490.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214994,3878543,25959254,150.0000,W,3094,276.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117582,3781131,22428852,47.9375,W,9112,250.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
X_train = train.drop(['isFraud', 'TransactionDT', 'TransactionID'], axis=1)
y_train = train[['isFraud']]
X_test = test.drop(['TransactionDT', 'TransactionID'], axis=1)

In [8]:
X_train.shape

(5907, 298)

In [9]:
y_train.shape

(5907, 1)

In [10]:
X_test.shape

(5067, 295)

In [13]:
for col in train.columns:
    if col not in test.columns:
        print(col)

isFraud
id_01
id_02
id_03
id_04
id_05
id_06
id_07
id_08
id_09

In [14]:
for col in test.columns:
    if col not in train.columns:
        print(col)

id-01
id-02
id-03
id-04
id-05
id-06
id-07
id-08
id-09

In [9]:
test_identity = pd.read_csv(f'../data/raw/test_identity.csv')
for col in test_identity:
    print(col)
columns = {}
for i in range(1, 39):
    columns[f'id-f{i}'] = f'id_{i}'
for k, v in columns.items():
    print(k, v)

test_identity = test_identity.rename(columns=columns)

for col in test_identity:
    print(col)

TransactionID
id-01
id-02
id-03
id-04
id-05
id-06
id-07
id-08
id-09
id-10
id-11
id-12
id-13
id-14
id-15
id-16
id-17
id-18
id-19
id-20
id-21
id-22
id-23
id-24
id-25
id-26
id-27
id-28
id-29
id-30
id-31
id-32
id-33
id-34
id-35
id-36
id-37
id-38
DeviceType
DeviceInfo
id-1 id_1
id-2 id_2
id-3 id_3
id-4 id_4
id-5 id_5
id-6 id_6
id-7 id_7
id-8 id_8
id-9 id_9
id-10 id_10
id-11 id_11
id-12 id_12
id-13 id_13
id-14 id_14
id-15 id_15
id-16 id_16
id-17 id_17
id-18 id_18
id-19 id_19
id-20 id_20
id-21 id_21
id-22 id_22
id-23 id_23
id-24 id_24
id-25 id_25
id-26 id_26
id-27 id_27
id-28 id_28
id-29 id_29
id-30 id_30
id-31 id_31
id-32 id_32
id-33 id_33
id-34 id_34
id-35 id_35
id-36 id_36
id-37 id_37
id-38 id_38
TransactionID
id-01
id-02
id-03
id-04
id-05
id-06
id-07
id-08
id-09
id_10
id_11
id_12
id_13
id_14
id_15
id_16
id_17
id_18
id_19
id_20
id_21
id_22
id_23
id_24
id_25
id_26
id_27
id_28
id_29
id_30
id_31
id_32
id_33
id_34
id_35
id_36
id_37
id_38
DeviceType
DeviceInfo